* {
    margin:0; 
    box-sizing: border-box;
    font-family: 'Noto Sans JP', sans-serif;

}

h2 {
    font-size: x-large;
    font-weight: 600;
    padding-bottom: 5px;
}

section {
    width: 100%;
    height: 100vh; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-inner {
    width: 50%;
}

p {
    padding-bottom: 20px;
}

span {
    font-size: medium;
}


a {
    text-decoration: none;


}

a:link {
    color: #000;
    font-weight: 500;
}

a:visited {
    color: #E55C96; 
    font-weight: 500;
}

a:hover{
    color: #E55C96; 
    font-weight: 900;
}

